[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
django = "*"
djangorestframework = "*"
django-webpack-loader  = "*"
dj_database_url = "*"
paramiko = "*"
python-decouple = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
