$borderColor: #d3dce6
$editorHeaderFontColor: rgba(37, 38, 94, 0.7)
$editorContentHeight:  calc(100vh - 58px)


.editor-container
  display: flex
  flex-wrap: wrap
  margin: 5px auto 0 auto

.output-or-shell
  width: 100%
  height: 100%

.text-editor
  width: 100%

.editor-header
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    color: rgba(37, 38, 94, 0.7)
    height: 48px
    font-size: 1.2rem
    border: 1px solid $borderColor
    background: #ffffff

.text-editor-name
  background: #fbfbfb
  background: #ffffff
  display: flex
  width: 120px
  align-items: center
  justify-content: center
  height: 48px
  text-transform: capitalize
  //border-left: 1px solid $borderColor
  //border-right: 1px solid $borderColor

.text-editor-command-wrapper
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: flex-end
  min-width: 50%

.text-editor-language-select
  font-size: 14px
  width: 200px

.editor-btn
  width: 80px
  height: 35px
  cursor: pointer
  padding: 6px 16px
  font-size: 14px
  line-height: 20px
  border: none
  outline: none
  border-radius: 2px
  z-index: 109
  font-weight: bold
  text-transform: capitalize
  margin: 0 20px

.text-editor-btn-blue
  color: #ffffff
  background: #0556f3

.btn-disabled
  color: #ffffff
  background: #ACA9BB
  cursor: not-allowed

.text-editor-btn-clear
  color: $editorHeaderFontColor

.text-editor-output-name
  display: flex
  width: 120px
  align-items: center
  justify-content: center
  height: 48px
  text-transform: capitalize

.text-editor-content
  height: $editorContentHeight
  border-left: 1px solid $borderColor
  border-right: 1px solid $borderColor
  border-bottom: 1px solid $borderColor

.text-output-content
  height: $editorContentHeight
  border-right: 1px solid $borderColor
  border-bottom: 1px solid $borderColor
  background: #ffffff
  font-size: 20px
  overflow: auto

.text-output-content-success
  margin: 0 5px
  color: #1f2123

  //a quick fix fot breaking borders
  border: 1px solid inherit

.text-output-content-error
  margin: 0 5px
  color: red

.no-border-left
  border-left: none

.icon-wrapper
  display: flex
  align-items: center
  justify-content: center
  height: 34px
  width: 34px
  margin: 0 20px
  border: 1px solid $borderColor
  border-radius: 2px

  &:hover
    cursor: pointer

.output-code-line
  display: flex
